.marcasContainer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.marcas{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
}

.marca img{
    width: 300px;
}